*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#c33357,#3b1e38);
}

.container{
    background:#e83a86;
    padding:30px;
    border-radius:20px;
    text-align:center;
    width:320px;
    box-shadow:0 10px 25px rgba(162, 82, 136, 0.4);
    color:white;
}

h1{
    margin-bottom:15px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    width:100%;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#2563eb;
}

.signal{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
}

.light{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#f37dbc;
    transition:0.3s;
}

h2{
    margin-top:15px;
}